<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แบบทดสอบก่อนเรียน</title>
    <link rel="stylesheet" href="../css/exam-b.css">
    <link rel="stylesheet" href="../css/super.css">
    <!-- <script type="module" src="../script/data.js"></script> -->
    <link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
</head>
<body>
    
    <div class="nav">
        <div class="nav-title">
            <h1 id="title"></h1>
        </div>
        <div class="nav-name">
            <span id="title-name">Name : lorem</span>
        </div>
    </div>
    <div class="exam-purpose" id="exam-purpose">
        <div class="center">
            <h1 id="exam-purpose-title"></h1>
            
            <span><strong>คำชี้แจง : </strong>แบบทดสอบชุดนี้เป็นแบบปรนัย 4 ตัวเลือก แบบเลือกตอบ 4 คำตอบให้คลิกที่คำตอบที่ผู้เรียนคิดว่าถูกต้องที่สุดเพียงข้อเดียวและรวมคะแนนสรุปหลังจากทำครบทุกข้อ หากได้ร้อยละ 70 ถือว่าผ่าน</span>
            <br><br><br>
            <button class="btn" id="start-exam">เริ่มทำแบบทดสอบ</button>
            <button class="btn" id="menu-exam" >กลับหน้าหลัก</button>
        </div>
    </div>
    <div class="exam-score" id="exam-score">
        <div class="center">
            <h1 id="exam-score-title">คะแนน</h1>
            
            <span>
                <p><strong>คะแนนที่ได้ : </strong><span id="update-score">4</span></p> <br>
                <p><strong>คิดเป็นร้อยละ : </strong><span id="update-avg">23</span> </p> <br>
                <p id="update-status">คุณผ่านเกณฑ์ &#10003;</p>
            </span>
            <br><br><br>
            <button class="btn" id="end-exam">กลับหน้าหลัก</button>
        </div>
    </div>
    <div class="content" id="content">
        
        <!-- <div class="wrapper-choice">
           <h4> 1. <img src="/Asset/img/exam/c11.jpg" alt="">การนำเข้าภาพจากในคอมพิวเตอร์เราเข้าสู่สไลด์สามารถทำได้ด้วยเครื่องมือใด</h4>
           <label>
                <input type="radio" name="1" id="1">
                <span><img src="/Asset/img/exam/c11.jpg" alt=""></span>
           </label>
           <label>
                <input type="radio" name="1" id="1">
                <span><img src="/Asset/img/exam/c12.jpg" alt=""></span>
           </label>
           <label>
                <input type="radio" name="1" id="1">
                <span><img src="/Asset/img/exam/c13.jpg" alt=""></span>
           </label>
           <label>
                <input type="radio" name="1" id="1">
                <span><img src="/Asset/img/exam/c14.jpg" alt=""></span>
           </label>
        </div> -->
        <!-- <div class="exam-btn">
            <button>ยืนยันคำตอบ</button>
            <button>
            </button>
            <br><br><br><br><br><br>
        </div> -->
    </div>

   
    

    
    
    <script src="../script/exam.js"></script>
</body>
</html>