<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บทเรียนคอมพิวเตอร์ช่วยสอน</title>
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/super.css">
    <link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
    
</head>
<body>
    <div class="menu-container" id="menu-container">
        
        <img src="../img/menu.png" alt="menu.png">
        <div class="login-container center">
            <div class="bobs"></div>
            <div class="bobs"></div>
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="blob">
                <path fill="#A64C44" d="M50.7,-64.7C61.9,-51,64.7,-31.4,64.5,-14.1C64.3,3.2,61.1,18.3,54.7,33.6C48.3,48.9,38.6,64.3,23.4,74.1C8.1,84,-12.8,88.3,-28,81C-43.1,73.7,-52.5,54.7,-62,36.6C-71.6,18.5,-81.3,1.2,-79,-14.3C-76.7,-29.8,-62.4,-43.5,-47.2,-56.5C-32,-69.5,-16,-81.8,1.9,-84C19.7,-86.2,39.5,-78.4,50.7,-64.7Z" transform="translate(100 100)" />
            </svg> 
            <div class="login-header">
                <h1>บทเรียนคอมพิวเตอร์ช่วยสอน</h1>
                <h2>โปรแกรม Microsoft PowerPoint</h2>
            </div>
            <div class="login-body">
                <form>
                    <input type="text" id="login-data" required>
                    <label for="" id="label-login">ชื่อของคุณ</label>
                </form>
            </div>
            <div class="login-footer">
                <button class="btn login-btn" id="login-btn">เข้าสู่บทเรียน</button>
            </div>
        </div>
        <div class="credit">
            <span>จัดทำโดย : นายวีรภัทร ทองภาพ</span>
        </div>
    </div>
    <div class="menu-selector" id="menu-selector">
        <img src="../img/menu.png" alt="menu.png">
        <div class="title-menu">
            <h1>บทเรียนคอมพิวเตอร์ช่วยสอน</h1>
            <h2>โปรแกรม Microsoft PowerPoint</h2>
            <h2 id="menu-name">ยินดีต้อนรับ : </h2>
            <h2 id="menu-score">null</h2>
        </div>

        <div class="items-menu01">
            <button class="button-57" role="button" onclick="window.open('./unit1.html','_self')">
                <span class="text">หน่วยการเรียนรู้ที่ 1</span>
                <span>อะไรคือโปรแกรม Microsoft PowerPoint</span>
            </button>
        </div>
        <div class="items-menu02">
            <button class="button-57" role="button" onclick="window.open('./unit2.html','_self')">
                <span class="text">หน่วยการเรียนรู้ที่ 2</span>
                <span>ส่วนประกอบของโปรแกรม Microsoft PowerPoint</span>
            </button>
        </div>
        <div class="items-menu03">
            <button class="button-57" role="button" onclick="window.open('./unit3.html','_self')">
                <span class="text">หน่วยการเรียนรู้ที่ 3</span>
                <span>เครื่องมือของโปรแกรม Microsoft PowerPoint</span>
            </button>
        </div>
        <div class="items-menu04">
            <button class="button-57" role="button" onclick="window.open('./unit4.html','_self')">
                <span class="text">หน่วยการเรียนรู้ที่ 4</span>
                <span>เทคนิคการออกแบบในการนำเสนอ</span>
            </button>
        </div>
        <div class="items-menu06">
            <button class="button-57" role="button" onclick="window.open('./start.html#purpose', '_self')">
                <span class="text">จุดประสงค์การเรียนรู้</span>
                <span>จุดประสงค์การเรียนรู้</span>
            </button>
        </div>
        <div class="items-menu07">
            <img src="../img/powerIcon.png" alt="PowerPointIcon.png">
        </div>


        <div class="items-menu05">
            <button class="btn" id="exit">
                <span><strong>ออกจากบทเรียน</strong></span>
            </button>
        </div>

        <!-- <div class="items-menu1 circle-menu">
            <img src="" alt="">
        </div>
        <div class="items-menu2 circle-menu">
            <img src="" alt="">
        </div>
        <div class="items-menu3 circle-menu">
            <img src="" alt="">
        </div>
        <div class="items-menu4 circle-menu">
            <img src="" alt="">
        </div> -->


        <div class="exam-before" onclick="window.open('./exam-b.html?v=exam-b', '_self')">
            <span>แบบทดสอบก่อนเรียน</span>
            <span></span>
        </div>
        <div class="exam-after" onclick="window.open('./exam-b.html?v=exam-a', '_self')">
            <span>แบบทดสอบหลังเรียน</span>
            <span></span>
        </div>
        <div class="credit">
            <span>จัดทำโดย : นายวีรภัทร ทองภาพ</span>
        </div>
    </div>
    <script src="../script/menu.js"></script>
</body>
</html>