<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บทเรียนคอมพิวเตอร์ช่วยสอน</title>
    <link rel="stylesheet" href="../css/thx.css">
    <link rel="stylesheet" href="../css/super.css">
    <link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
</head>
<body>
    <div class="content">
        <img src="../img/bg/Brown Aesthetic Groudasdasdp Project Presentation.png" alt="bg.png">
        <div class="wrapper-thx center">
            <h1>ขอบคุณสำหรับการใช้งาน</h1>
            <br><br><br><br>
            <h2>จัดทำโดย</h2>
            <h3>นายวีรภัทร ทองภาพ</h3>
        </div>
    </div>
    <script src="../script/thx.js"></script>
</body>
</html>