<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บทเรียนคอมพิวเตอร์ช่วยสอน</title>
    <link rel="stylesheet" href="../css/unit4.css">
    <link rel="stylesheet" href="../css/super.css">
    <link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
</head>
<body>
    <div class="slide-container">
        <div class="btn-unit1 btn" onclick="window.open('./menu.html', '_self')">
            <span>หน้าหลัก</span>
        </div>
        <div class="slider-ctr">
            <figure class="slide"><img src="../img/unit4/14.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">14/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/13.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">13/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/12.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">12/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/11.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">11/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/10.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">10/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/9.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">9/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/8.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">8/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/7.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">7/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/6.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">6/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/5.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">5/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/4.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">4/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/3.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">3/14</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit4/2.png">
              <figcaption>
                <div class="title"></div>
                <div class="author">2/14</div>
              </figcaption>
            </figure>
            <figure class="slide text-on"><img src="../img/unit4/1.png">
              <figcaption>
                <div class="title"></div>
                <div class="author">1/14</div>
              </figcaption>
            </figure>
            <div class="slider-control">
              <div class="control prev disabled">
                <div class="icon ion-chevron-left">ก่อนหน้า</div>
              </div>
              <div class="control next">
                <div class="icon ion-chevron-right">ถัดไป</div>
              </div>
            </div>
        </div>
    </div>
    <script src="../script/unit4.js"></script>
</body>
</html>