<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บทเรียนคอมพิวเตอร์ช่วยสอน</title>
    <link rel="stylesheet" href="../css/unit1.css">
    <link rel="stylesheet" href="../css/super.css">
    <link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
</head>
<body>
    <div class="slide-container">
        <div class="btn-unit1 btn" onclick="window.open('./menu.html', '_self')">
            <span>หน้าหลัก</span>
        </div>
        <div class="slider-ctr">
            <figure class="slide"><video controls> <source src="../vdo/unit1.mp4" type="video/mp4" /> </video>
              <figcaption> 
                <div class="title"></div>
                <div class="author">จารย์ลือ สอนคอมฯ</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit1/11.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">11/11</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit1/10.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">10/11</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit1/9.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">9/11</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit1/8.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">8/11</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit1/7.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">7/11</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit1/6.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">6/11</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit1/5.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">5/11</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit1/4.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">4/11</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit1/3.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">3/11</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit1/2.png">
              <figcaption>
                <div class="title"></div>
                <div class="author">2/11</div>
              </figcaption>
            </figure>
            <figure class="slide text-on"><img src="../img/unit1/1.png">
              <figcaption>
                <div class="title"></div>
                <div class="author">1/11</div>
              </figcaption>
            </figure>
            <div class="slider-control">
              <div class="control prev disabled">
                <div class="icon ion-chevron-left">ก่อนหน้า</div>
              </div>
              <div class="control next">
                <div class="icon ion-chevron-right">ถัดไป</div>
              </div>
            </div>
        </div>
    </div>
    <script src="../script/unit1.js"></script>
</body>
</html>