<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บทเรียนคอมพิวเตอร์ช่วยสอน</title>
    <link rel="stylesheet" href="../css/unit2.css">
    <link rel="stylesheet" href="../css/super.css">
    <link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
</head>
<body>
    <div class="slide-container">
        <div class="btn-unit1 btn" onclick="window.open('./menu.html', '_self')">
            <span>หน้าหลัก</span>
        </div>
        <div class="slider-ctr">
            <figure class="slide"><video controls> <source src="../vdo/unti2.mp4" type="video/mp4" /> </video>
              <figcaption> 
                <div class="title"></div>
                <div class="author">Phawinee  Pansumran</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/12.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">12/12</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/11.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">11/12</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/10.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">10/12</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/9.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">9/12</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/8.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">8/12</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/7.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">7/12</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/6.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">6/12</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/5.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">5/12</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/4.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">4/12</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/3.png">
              <figcaption> 
                <div class="title"></div>
                <div class="author">3/12</div>
              </figcaption>
            </figure>
            <figure class="slide"><img src="../img/unit2/2.png">
              <figcaption>
                <div class="title"></div>
                <div class="author">2/12</div>
              </figcaption>
            </figure>
            <figure class="slide text-on"><img src="../img/unit2/01.png">
              <figcaption>
                <div class="title"></div>
                <div class="author">1/12</div>
              </figcaption>
            </figure>
            <div class="slider-control">
              <div class="control prev disabled">
                <div class="icon ion-chevron-left">ก่อนหน้า</div>
              </div>
              <div class="control next">
                <div class="icon ion-chevron-right">ถัดไป</div>
              </div>
            </div>
        </div>
    </div>
    <script src="../script/unit1.js"></script>
</body>
</html>